.row {
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
  background: #f1f2f6;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 20px;
}

.row input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  font-size: 16px;
}

.row button {
  background: var(--primary-green);
  color: #fff;
  border: none;
  outline: none;
  padding: 16px 20px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s ease;
  margin-left: 5px;
  min-width: 100px;
}

.row button:hover {
  opacity: 0.9;
}

.cancel-btn {
  background: var(--delete-red) !important;
}

.cancel-btn:hover {
  background: #c0392b !important;
}