.list-container {
  list-style: none;
  margin-top: 20px;
}

.empty-message {
  text-align: center;
  color: var(--text-light);
  font-style: italic;
  margin-top: 30px;
}

.grocery-item {
  list-style: none;
  font-size: 18px;
  padding: 12px 8px 12px 20px;
  border-bottom: 1px solid #ecf0f1;
  position: relative;
}