.container {
  width: 100%;
  min-height: 100vh;
  padding: 10px;
}

.grocery-bud {
  width: 100%;
  max-width: 400px;
  background: #fff;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.grocery-bud h2 {
  text-align: center;
  color: var(--text-dark);
  font-size: 30px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grocery-bud img {
  width: 40px;
  height: 40px;
  margin-left: 10px;
}

.coming-soon {
  color: var(--text-light);
  margin-top: 30px;
  font-style: italic;
}